numpy
requests
transformers==4.57.6
openvino==2026.1.0
openvino-tokenizers==2026.1.0.0
diffusers @ git+https://github.com/huggingface/diffusers.git@6a339ce637db184c2e1a10ec90ac0e292beb76ac
optimum @ git+https://github.com/huggingface/optimum.git@ec676fd4e0b1440e91549e7a1aa82e0de85e79b5
optimum-intel @ git+https://github.com/openvino-dev-samples/optimum-intel.git@e70cae7d0cd91087c087418e96179bd4a8479004
